@model HobbyHubSystem.Web.ViewModels.Hobby.EditHobbyViewModel

@{
    ViewData["Title"] = "Edit Hobby";
}

<h2>Edit Category</h2>

@using (Html.BeginForm("EditHobby", "Hobby", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Description)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CurrentImageUrl)
        @Html.TextBoxFor(model => model.CurrentImageUrl, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CurrentImageUrl)
    </div>

    <div class="form-group">
        <label asp-for="ImageFile">New Image</label>
        <input type="file" asp-for="ImageFile" class="form-control" accept="image/*">
    </div>

    @Html.HiddenFor(model => model.Id)

    <input type="submit" value="Save Changes" class="btn btn-primary" />
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
