@using HobbyHubSystem.Web.ViewModels.Hobby;
@using HobbyHubSystem.Common;
@model HobbyViewModel

@{
    ViewData["Title"] = "Open Hobby";
}

<h2>@Model.Name</h2>

<div class="hobby-description">
    <p>@Model.Description</p>
</div>

<div class="hobby-image">
    <img src="@Model.ImageUrl" alt="Hobby Image" />
</div>

@if (!Model.IsJoinedHub)
{
    <div id="join-hub-button-container">
        <a class="btn btn-success" onclick="joinHub()">Join Hub</a>
    </div>
}

@if (Model.IsJoinedHub)
{
<div class="welcome-hub-button-container">
    <a asp-controller="Hub" asp-action="WelcomeHub" asp-route-id="@Model.HubId">Welcome Hub</a>
</div>
}

@if (User.IsInRole(RoleConstants.Administrator) || User.IsInRole(RoleConstants.Moderator))
{
    <div class="add-hobby-button-container">
        <a asp-controller="Hobby" asp-action="EditHobby" asp-route-id="@Model.HobbyId">Edit Hobby</a>
    </div>
    <div class="add-hobby-button-container">
        <a asp-controller="Hobby" asp-action="DeleteHobby" asp-route-id="@Model.HobbyId">Delete Hobby</a>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        async function joinHub() {
            try {
                var hubId = @Model.HubId;
                var url = '/Hub/JoinHub/' + hubId;

                const response = await fetch(url, { method: 'POST' });

                if (response.ok || response.status === 409) {                    
                    redirectToWelcomeHub();
                }
                else {
                    alert('Error joining hub.');
                }
            } catch (error) {
                console.error('An error occurred:', error);
                alert('An error occurred. Please try again later.');
            }
        }
       
        function redirectToWelcomeHub() {
            window.location.href = '@Url.Action("WelcomeHub", "Hub", new { id = Model.HubId })';
        }
    
    </script>




}