@model HobbyHubSystem.Web.ViewModels.Hobby.HobbyViewModel
@using HobbyHubSystem.Common;

@{
    ViewData["Title"] = "Open Hobby";
}

<h2>@Model.Name</h2>

<div class="hobby-description">
    <p>@Model.Description</p>
</div>

<div class="hobby-image">
    <img src="@Model.ImageUrl" alt="Hobby Image" />
</div>

<div class="join-hub-button">
    <a href="@Url.Action("JoinHub", "Hobby", new { hobbyId = Model.HobbyId })" class="btn btn-primary">Join Hub</a>
</div>

@if (User.IsInRole(RoleConstants.Administrator) || User.IsInRole(RoleConstants.Moderator))
{
    <div class="add-hobby-button-container">
        <a asp-controller="Hobby" asp-action="EditHobby" asp-route-id="@Model.HobbyId">Edit Hobby</a>
    </div>
    <div class="add-hobby-button-container">
        <a asp-controller="Hobby" asp-action="DeleteHobby" asp-route-id="@Model.HobbyId">Delete Hobby</a>
    </div>
}
