@using HobbyHubSystem.Common;
@model HobbyHubSystem.Web.ViewModels.Article.ArticleViewModel

<h2>@Model.Title</h2>

<p>Author: @Model.AuthorName</p>

<p>@Model.Content</p>

@if (User.IsInRole(RoleConstants.Administrator) || User.IsInRole(RoleConstants.Moderator))
{
    <div class="add-article-button-container">
        <a asp-controller="Article" asp-action="EditArticle" asp-route-id="@Model.Id">Edit Article</a>
    </div>
    <div class="add-article-button-container">
        <a asp-controller="Article" asp-action="DeleteArticle" asp-route-Id="@Model.Id">Delete Article</a>
    </div>
}

<div class="back-to-all-articles">
    <a asp-controller="Article" asp-action="All" asp-route-hubId="@Model.HubId">Back to All Articles</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}