@model HobbyHubSystem.Web.ViewModels.Hub.WelcomeHubViewModel

@{
    ViewData["Title"] = "Welcome to " + Model.Name + " Hub";
}

<h2>@Model.Name Hub</h2>

<div class="hub-about">
    <p>@Model.About</p>
</div>

<div id="welcome-hub-button-container">
    <a href="@Url.Action("All", "Article", new { hubId = Model.Id })" class="btn btn-success">Articles</a>
    <a href="@Url.Action("All", "Event", new { hubId = Model.Id })" class="btn btn-success">Events</a>
    <a href="@Url.Action("GetMembers", "Member", new { hubId = Model.Id })" class="btn btn-success">Members</a>
   @* <a href="@Url.Action("All", "Discussion", new { hubId = Model.Id })" class="btn btn-success">Discussion</a>*@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}