@model HobbyHubSystem.Web.ViewModels.Event.EventViewModel

<h2>@Model.Title</h2>
<p>@Model.Description</p>
<p>Date: @Model.DateOfEvent</p>
<p>Location: @Model.Location</p>


<div class="back-to-all-events">
    <a asp-controller="Event" asp-action="All" asp-route-hubId="@Model.HubId">Back to All Events</a>
</div>